<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Super Sprinter 3000</h1><br>
    <a href="/story">Add New User Story</a>
    <table style="width: 100%">
        <tr>
            <th>Id</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
        </tr>
        {% for story in data %}
            <tr>
                <td >{{story['id']}}</td>
                <td id="story_title"><a href="{{url_for('route_update', id = story['id'])}}">{{story['title']}}</a></td>
                <td>
                    {% for word in story['user_story'].split('<br>') %}
                        {{word}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for word in story['acceptance_criteria'].split('<br>') %}
                        {{word}}<br>
                    {% endfor %}
                </td>
                <td>{{story['business_value']}}</td>
                <td>{{story['estimation']}}</td>
                <td>{{story['status']}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>